<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta name="description" content="Celow is a 3 dice game that was built using 100% pure java!!  It is the best 3 dice game on the net!!  if it is free to play and suggestions and comments are greatly appreciated!!"></meta>
	<meta name="keywords" content="celow, ceelow, cee-lo, ce-low, java, java games, 100% pure java, games, celo, celoo, celow, graphics, adobe, photoshop, netscape, communicator"></meta>
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21553550-2']);
      _gaq.push(['_setDomainName', '.celow.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    {% block extrajs %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<BODY BACKGROUND="{{ MEDIA_URL }}images/blurock.gif" TEXT="#FFFFFF" LINK="#69B4B4" VLINK="#69B4B4" ALINK="#F5E730" BGCOLOR="#000000">
{% block image %}{% endblock %}
{% block content %}{% endblock %}
<center>
<hr width=45%>
<span   style="font-family: Helvetica,Arial,Geneva; font-size: smaller; ">
Bugs?...Comments?...Please e-mail: <A HREF="mailto:bugs@yestech.org?subject=celow">bugs@yestech.org</A></span>
<hr width=45%>
<!-- bottom link table -->
<span  style="font-family: Helvetica,Arial,Geneva; font-size: xx-small; ">
	Copyright &#0169; 1999 - 2010 by <A HREF="http://yestech.org/">YES Technology Association</A>, 
	All Rights Reserved<br /> &#0174; Trademarks are property of their respective companies.
</center>
</body>
</html>