{% extends "base.html" %}

{% block title %}Celow {% block gametype %}{% endblock %} Help{% endblock %}

{% block content %}
<center>
<table bgcolor="#000000" border=4 cellspacing=0 cellpadding=0>
<td width=600>
<P><span SIZE="+2"><A NAME="Objective">Objective</A></span></P>
<OL>
<LI>The objective of the game is to roll a <A HREF="#Winning">winning</A> hand
 or the highest <A HREF="#Point">point</A>.</LI></OL>
<P><span SIZE="+2">Rules</span></P>
<OL>
<LI>Place any number you wish in the wager field to place a bet.</LI>
<li>{% block rollmethod %}{% endblock %}</li>
<LI>After you roll you will see the result of your roll in the dice and by a
banner at the top of window
<UL>
<LI>If you <A HREF="#Winning">win</A> the money that you wagered will be added
to your bank on the left of the screen.</LI>
<LI>If you <A HREF="#Losing">lose</A> then the money that you wagered will be
subtracted from your bank on the left of the screen.</LI>
<LI>Your wager field will go to 0 after each roll so, if you want to continue
to wager the you must enter a new number each time.</LI></UL></LI>
<LI><A NAME="Winning">Winning</A> Hands
<UL>
<LI>A winning hand is when you roll either a 4,5,6 or  3 dice of the same
number ex.: 1,1,1 or 6,6,6; or you roll any 2 dice with the same number and the
last is a 6. ex.: 2,2,6 or 2,6,2.</LI>
<LI>If you receive a winning hand then you will see a banner at the top of the
screen that says &quot;You <A HREF="#Winning">Win</A> !!!!!!!&quot; and the
money that you wagered will be added to your bank on the left of the screen.</LI></UL></LI>
<LI><A NAME="Point">Point</A>
<UL>
<LI>It is when you roll the dice and receive 2 dice that have the same number,
your point is the dice with the different number.  ex.: 4,4,5; Your point would
be 5.</LI>
<LI>If you receive a point then you will see a banner at the top of the screen
that says &quot;Point, Please Roll for the Computer !!!!!!&quot; and you will
see a your point number in the lower left hand side of the screen.</LI>
<LI>You must then roll for the computer at this time to see if it can beat,
push or lose to your point
<UL>
<LI>A point value is beaten if a higher point value is rolled. ex.: 4,4,5 would
beat 3,3,2</LI>
<LI>A point value is a push if an equal point value is rolled. ex.: 4,4,5 would
push 3,3,5</LI>
<LI>A point is lost if a lower point value is rolled. ex.: 4,4,2 would lose to
3,3,5</LI></UL></LI>
<LI>If you point was a winner to the computers then you will see a banner at
the top of the screen that says &quot;You <A HREF="#Winning">Win</A> !!!!!!!&quot;
and the money that you wagered will be added to your bank on the left of the
screen.</LI>
<LI>If you point was a loser you will see a banner at the top of the screen
that says &quot;You <A HREF="#Losing">Lose</A> !!!!!!!&quot; and the money that
you wagered will be subtracted to your bank on the left of the screen.</LI>
<LI>If you point pushed then you will see a banner at the top of the screen
that says &quot;Computer Pushes, Your Turn&quot; and bank does not change.</LI></UL></LI>
<LI><A NAME="Losing">Losing</A> hands
<UL>
<LI>A losing hand is when you roll either a 1,2,3 or any 2 dice with the same
number and the last is a 1. ex.: 2,2,1 or 2,1,2.</LI>
<LI>If you receive a winning hand then you will see a banner at the top of the
screen that says &quot;You <A HREF="#Losing">Lose</A> !!!!!!!&quot; and the
money that you wagered will be subtracted to your bank on the left of the
screen.</LI></UL></LI>
<li>To play again just repeat the process</li>

<li>{% block quitmethod %}{% endblock %}</li>
</OL>
<P><BR></P>
<P>Back to <A HREF="#Top">top</A></P>
</td>
</table>
</center>
{% endblock %}

